[submodule "modules/cesar2/CESAR2.0"]
	path = modules/cesar2/CESAR2.0
	url = https://github.com/hillerlab/CESAR2.0
[submodule "make_lastz_chains"]
	path = modules/make_lastz_chains
	url = https://github.com/hillerlab/make_lastz_chains
[submodule "modules/softmask"]
	path = modules/softmask
	url = https://github.com/hillerlab/softmask
